* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    } 
 @media only screen and(max-width:768px){
   .head  .left .right{
            width: 100%;
  }
}

.head {
    position: absolute;
    top: 0px;
    height: 85px;
    left: 0px;
    right: 0px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-bottom: 0.8px solid rgb(231, 226, 226);
    overflow-x: hidden;
}

.head img {
    width: 12.4%;
    height: 32px;
    margin-left:-780px;
    margin-top: 30px;
}

.head table{
    color: beige;
    margin-top: -47px;
    margin-left: 57.8%;
    font-size: 76%;
    font-family: Arial, Helvetica, sans-serif;
}

.head input[type=text] {
    width: 86.3%;
    border: none;
    height: 100%;
}

.head input[type=password] {
    width: 86.3%;
    border: none;
    height: 100%;
}

.head input[type=submit]{
    color: white;
    border: none;
    background-color: rgb(63, 61, 61);
    border: 0.8px solid rgb(255, 255, 255);
    height: 70%;
    padding-left: 2px;
    padding-right: 2px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    margin-left: -10px;
    height: 100%;
}

.head a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(179, 174, 174, 0.904);
    font-size: 76%;
    margin-left: 70%;
    top: 5px;
}

.left {
    position: absolute;
   background-image: linear-gradient(rgb(173, 173, 173),rgb(243, 241, 241),rgb(226, 226, 226),rgb(221, 219, 219),rgb(189, 189, 189),rgb(173, 173,173));
    left: 0px;
    top: 85px;
    right: 44%;
    height: 87%;
}
.right {
    position: absolute;
   background-image: linear-gradient(rgb(173, 173, 173),rgb(243, 241, 241),rgb(226, 226, 226),rgb(221, 219, 219),rgb(189, 189, 189),rgb(173, 173,173));
    left:56%;
    top: 85px;
    right: 0px;
    height: 87%;
}
.left img{
    width: 537px;
    height: 220px;
    margin-top: 10px;
    margin-left: 21.5%;
}
.left p{
    margin-top: 58px;
    margin-left: 22.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 135%;
}
.right input[type=text] {
    border: 1px solid rgba(63, 63, 63, 0.6);
    border-radius: 5px;
    height: 7%;
    margin-top: 18px;
    padding-left: 1.5%;
    font-size: 120%;
    width: 31.5%;
    height: 40px;
}
.right input[type=password] {
    border: 1px solid rgba(63, 63, 63, 0.6);
    border-radius: 5px;
    height: 7%;
    margin-top: 8px;
    padding-left: 1.5%;
    font-size: 120%;
    width: 65%;
    height: 40px;
}
.right input[type=email] {
    border: 1px solid rgba(63, 63, 63, 0.6);
    border-radius: 5px;
    height: 7%;
    margin-top: 8px;
    padding-left: 1.5%;
    font-size: 120%;
    width: 65%;
    height: 40px;
}
.right input[type=radio] {
    margin-top: 15px;
    font-size: 30%;
    block-size: auto;
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}
.right input[type=button]{
    height: 7%;
    width: 35%;
    font-size: 120%;
    border-radius: 4px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(46,110,33,1) 4%, rgba(46,110,33,1) 85%, rgb(15, 31, 13));
    background-repeat: repeat-x;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.right select{
    margin-top: 7px;
    height: 5%;
    width: 12%;
    position: relative;
    padding: 0px;
}
::placeholder{
    font-size: 95%;
}
