* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    height: 100%;
    background-attachment: fixed;
    overflow: hidden;
}

.left label {
    width: 89px;
}

.head {
    top: 0px;
    height: 85px;
    left: 0px;
    right: 0px;
    background-color: rgb(59,89,152) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-bottom: 0.8px solid rgb(231, 226, 226);
}

.head img {
    width: 12.4%;
    height: 34px;
    left: -780px;
    margin-top: 30px;
}

.head table {
    color: rgb(255, 255, 255);
    margin-top: -47px;
    margin-left: 57.8%;
    font-size: 76%;
    font-family: Arial, Helvetica, sans-serif;
}

.head input[type=text] {
    width: 86.3%;
    border: none;
    height: 100%;
}

.head input[type=password] {
    width: 86.3%;
    border: none;
    height: 100%;
}

.head input[type=submit] {
    color: white;
    border: none;
    background-color: rgb(70, 101, 167);
    border: 0.8px solid rgb(40, 61, 105);
    height: 70%;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.295);
    border-radius: 2px;
    margin-left: -10px;
    height: 100%;
}

.head a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(179, 195, 230);
    font-size: 76%;
    margin-left: 70%;
    top: 5px;
}

.left {
    position: absolute;
    background-image: linear-gradient(rgb(223,227,238),rgb(247,247,247),white,rgb(247,247,247),rgb(223,227,238));
    left: 0px;
    top: 85px;
    right: 44%;
    height: 87%;
    overflow: auto;
}

.right {
    position: absolute;
    background-image: linear-gradient(rgb(223,227,238),rgb(247,247,247),white,rgb(247,247,247),rgb(223,227,238));
    left: 56%;
    top: 85px;
    right: 0px;
    height: 87%;
    overflow: auto;
}

.left img {
    width: 70%;
    height: 39%;
    margin-top: 10px;
    margin-left: 21.5%;
}

.left p {
    margin-top: 58px;
    margin-left: 22.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 135%;
}

.right input[type=text] {
    border: 1px solid rgba(63, 63, 63, 0.6);
    border-radius: 5px;
    height: 7%;
    margin-top: 18px;
    padding-left: 1.5%;
    font-size: 120%;
    width: 31.5%;
    height: 40px;
}

.right input[type=password] {
    border: 1px solid rgba(63, 63, 63, 0.6);
    border-radius: 5px;
    height: 7%;
    margin-top: 8px;
    padding-left: 1.5%;
    font-size: 120%;
    width: 65%;
    height: 40px;
}

.right input[type=email] {
    border: 1px solid rgba(63, 63, 63, 0.6);
    border-radius: 5px;
    height: 7%;
    margin-top: 8px;
    padding-left: 1.5%;
    font-size: 120%;
    width: 65%;
    height: 40px;
}

.right input[type=radio] {
    margin-top: 15px;
    font-size: 30%;
    block-size: auto;
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}

.right input[type=submit] {
    height: 7%;
    width: 35%;
    font-size: 120%;
    border-radius: 4px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(46, 110, 33, 1) 4%, rgba(46, 110, 33, 1) 85%, rgb(15, 31, 13));
    background-repeat: repeat-x;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.right select {
    margin-top: 7px;
    height: 5%;
    width: 13%;
    padding: 0px;
    margin-left: 10px;
}

::placeholder {
    font-size: 95%;
}

/*////////Responsive Query ////////////*/

@media only screen and (max-width:1200px) {
    .head img {
        width: 13.5%;
        padding: 0 22%;
    }
}

@media only screen and (max-width:968px) {
    .head img {
        width: 14.5%;
        padding: 0 40%;
    }
}

@media only screen and (max-width:716px) {
    .head img {
        width: 19.5%;
        padding: 0 78%;
    }
}

@media only screen and (max-width:300px) {
    .head img {
        width: 36.5%;
        padding: 0 90%;
    }
}

@media only screen and (max-width:510px) {
    .head img {
        padding: 0 450px;
        width: 36%;
    }

    .head table {
        padding-right: 3px;
        margin-left: 205px;
        margin-top: -45px;
    }

    .right {
        overflow-y: scroll;
    }

    ::placeholder {
        font-size: 80%;
    }

    .right input[type=submit] {
        height: 5.2%;
        width: 37%;
        font-size: 80%;
    }

    .right input[type=text] {
        height: 6%;
        margin-top: 7px;
        font-size: 110%;
        width: 90%;
        height: 40px;
    }

    .right input[type=password] {
        height: 6%;
        margin-top: 7px;
        font-size: 110%;
        width: 90%;
        height: 40px;
    }

    .right input[type=email] {
        height: 6%;
        margin-top: 7px;
        font-size: 90%;
        width: 90%;
        height: 40px;
    }
}

@media only screen and (max-width:534px) {
    .head img {
        padding: 0 550px;
        width: 30%;
    }
}

@media only screen and (max-width:510px) {
    .head img {
        padding: 0 450px;
        width: 30%;
    }
}
@media only screen and (max-width:470px) {
    .head img {
        padding: 0 540px;
        width: 30%;
    }

    .head table {
        margin-right: 3px;
        margin-left: 155px;
        margin-top: -43px;
        border-collapse: collapse;
    }

    .head a {
        margin-left: 255px;
    }
}

@media only screen and (max-width:412px) {
    .head img {
        padding: 0 540px;
        width: 30%;
    }

    .head table {
        margin-right: 3px;
        margin-left: 135px;
        margin-top: -43px;
        border-collapse: collapse;
    }

    .head a {
        margin-left: 245px;
    }
}

@media only screen and (max-width:401px) {
    .head img {
        padding: 0 557px;
        width: 27%;
    }

    .head table {
        margin-right: 3px;
        margin-left: 135px;
        margin-top: -43px;
        border-collapse: collapse;
    }

    .head a {
        margin-left: 225px;
    }

    .left {
        right: 47%;
    }

    .right {
        left: 53%;
    }

    .left label {
        font-size: 10px;
    }

    .left img {
        width: 100%;
        height: 28%;
        margin-top: 10px;
        margin-left: 3.5%;
    }

    .right select {
        margin-top: 7px;
        height: 5%;
        width: 33%;
        margin-left: -10px;
    }

    .left p {
        margin-top: 58px;
        margin-left: 4.5%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 90%;
        margin-right: 2%;
    }
}